@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer base {
	.root {
		@apply flex min-h-screen w-full flex-col bg-white lg:flex-row;
	}
}

@layer utilities {
	.hide-arrows::-webkit-outer-spin-button,
	.hide-arrows::-webkit-inner-spin-button {
		@apply appearance-none;
	}

	.hide-scrollbar::-webkit-scrollbar {
		display: none;
	}

	.hide-scrollbar {
		-ms-overflow-style: none; /* for Internet Explorer, Edge */
		scrollbar-width: none; /* for Firefox */
	}

	.header-box {
		@apply flex flex-col gap-1 mb-8;
	}

	.header-box-title {
		@apply text-[24px] font-semibold text-gray-900;
	}

	.header-box-subtext {
		@apply text-[14px] font-normal text-gray-600;
	}

	.sidebar {
		@apply h-screen w-60 bg-white p-3 shadow-md shadow-purple-200/50 fixed;
	}

	.sidebar-nav {
		@apply h-full flex-col justify-between md:flex md:gap-4 p-4;
	}

	.sidebar-nav_elements {
		@apply w-full flex-col items-start gap-2 md:flex;
	}

	.sidebar-nav_element {
		@apply flex items-center justify-center w-full whitespace-nowrap rounded-full transition-all;
	}

	.sidebar-link {
		@apply flex size-full text-[14px] font-medium gap-3 px-5 py-2.5 items-center hover:shadow-inner hover:rounded-full;
	}

	.header-box {
		@apply flex flex-col gap-1;
	}

	.header-box-title {
		@apply text-[27px] lg:text-[30px] font-semibold text-gray-900;
	}

	.header-box-subtext {
		@apply text-[14px] lg:text-[16px] font-normal text-gray-600;
	}

	.form-header {
		@apply text-[20px] text-gray-400 font-medium;
	}

	.item-container {
		@apply border bg-white w-full rounded-lg h-[100px] flex items-center justify-between p-2;
	}
}
